body {
  margin: 0;
  padding: 0;
}

.navigation-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffde63;
  margin: 0;
  padding: 0px 50px 0px 0px;
  height: 130px;
  overflow: hidden;
}
.navigation-bar .logo {
  padding: 0;
  margin: 0;
}
.navigation-bar .logo img {
  height: 250px;
  width: auto;
}
.navigation-bar .nav-links {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  list-style: none;
}

.navigation-bar .nav-links .page-link {
  color: darkblue;
  padding: 15px 25px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  display: block;
  transition: background-color 0.3s ease;
}

.navigation-bar .nav-links li a:hover {
  background-color: darkblue;
  color: #ffde63;
}

.login-link {
  background-color: darkblue;
  padding: 15px 25px;
  border-radius: 5px;
  color: #ffde63;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: block;
  transition: background-color 0.3s ease;
}

main {
  margin: 0;
  padding: 0;
}

.hero-banner {
  position: relative;
  width: 100%;
  min-height: 130vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.hero-img {
  position: absolute;
  top: 50%;
  left: 50%;

  min-height: 165%;

  transform: translate(-50%, -50%) rotate(90deg) scaleX(-1);
  object-fit: cover;
  opacity: 45%;
}

.hero-content {
  position: relative;
  z-index: 1;
  text-align: center;
  color: white;
}

#About-us {
  position: relative;
}
