<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Tabla Menú</title>

    <link
      href="https://fonts.googleapis.com/css2?family=Inter&family=Island+Moments&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" th:href="@{/styles/product_listing.css}" />
  </head>

  <body>
    <h1 class="titulo-principal">Tabla Menú</h1>

    <div class="contenedor-tablas">
      <section>
        <h2 class="subtitulo">Platos fuertes</h2>

        <div class="tabla-menu">
          <table>
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Imagen</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="producto : ${products}">
                <td th:text="${producto.nombre}"></td>
                <td th:text="${producto.descripcion}"></td>
                <td th:text="${producto.precio}"></td>
                <td>
                  <img
                    th:src="@{${producto.imagenUrl}}"
                    alt="Imagen de [[${producto.nombre}]]"
                    class="imagen-producto"
                  />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
    </div>

    <div class="fondo-gradiente"></div>
  </body>
</html>
